@import "twitter/bootstrap/bootstrap";

html {
    background-color: #006b8f;
}

body {
    background-color: #006b8f;
    font-family: 'Lato', sans-serif;
    color: white;
}

#main-content {
    margin: 0% 30%;
}

@media (max-width: 992px) { /*Tablets*/
    #main-content {
        margin: 0% 20%;
    }
}

@media (max-width: 767px) { /*Mobile*/
    #main-content {
        margin: 10px;
    }
}

#title {
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
}

#form-content {
    margin-bottom: 50px;
    text-align: center;
}

#task-input {
    border-radius: 4px;
    padding: 6px 3px;
    width: 35%;
    color: black;
    font-family: 'Lato', sans-serif;
}

@media (max-width: 767px) {
    #task-input {
        width: 55%;
    }
}

.task {
    margin-top: 20px;
    border: 2px solid #b3d4fc;
    padding: 20px;
    background-color: #3d8aa3;
}

.task-name {
    margin: 0px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #98c60c;
    font-family: 'Lato', sans-serif;
    color: white;
}

.btn:hover {
    cursor: pointer;
    background-color: #87af0a;
}

.delete-btn {
    margin-top: -6px;
    float: right;
    background-color: #00c4ff;
}

.delete-btn:hover {
    background-color: #009ece;
}
