html {
    background-color: #006b8f;
}

body {
    background-color: #006b8f;
    font-family: 'Lato', sans-serif;
    color: white;
}

#main-content {
    padding: 0% 30%;
}

#title {
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}

#form-content {
    margin-bottom: 50px;
    text-align: center;
}

#task-input {
    padding: 5px 10px;
    color: black;
}

.task {
    margin-top: 20px;
    border: 2px solid #b3d4fc;
    padding: 20px;
    background-color: #3d8aa3;
}

.task-title {
    margin: 0px;
}

.btn {
    margin-top: -3px;
    background-color: #98c60c;
}

.delete-btn {
    float: right;
    background-color: #00c4ff;
}